nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 15px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

nav > a {
  text-decoration: none;
}
nav > a > h1 {
  color: #d80032;
  font-size: 25px;
}

#navbar {
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}



#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 300;
  color:black;
  transition: 0.2s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
  color: #d80032;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #d80032;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

img {
  width: 49px;
  height: 48px;
}

.navbardets > li {
  display: flex;
  text-align: center;
}

.primary-btn {
  transition-duration: 0.4s;
  background-color: #4ca8af;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
}

.primary-btn:hover {
  background-color: #89cff3;
  color: black;
}

#mobile {
  display: none;
}
#mobile i {
  color: black;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
  background-color: #d80032;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    z-index: 2;
  }

  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
