.wedinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
}

.wedinput input {
  padding: 10px;
  margin-bottom: 12px;
  width: 40%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.cards-f {
  border-radius: 4px;
  width: 100%;
  height: 80vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

.wedding {
  height: 50vh;
  width: 50%;
}

.text-f {
  background-image: url("../../../assets/newinvite.avif");
  object-fit: contain;
  width: 50%;
  height: 80vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.space {
  height: 100px;
}

img.birthday {
  max-height: 40vh;
}

.whatsapp-func{
  font-size:2rem;
  margin: 5px;
  text-decoration: none;
margin-right: 100px;

}
.whatsapp-func a{

  text-decoration: none;


}

@media only screen and (min-width: 1000px) {
  .cards-f {
    flex-direction: row-reverse;
  }
  .cards-f img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .cards-f {
    flex-direction: row-reverse;
  }
  .cards-f img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

/*.cards {
  border-radius: 4px;
  width: 100%;
  height: 80vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

.wedding {
  height: 50vh;
  width: 50%;
}
@media only screen and (min-width: 1000px) {
  .cards {
    flex-direction: row-reverse;
  }
  .cards img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .cards {
    flex-direction: row-reverse;
  }
  .cards img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

img.birthday {
  max-height: 40vh;
}

.text {
  padding: 1em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}
*/
