#footer {
  bottom: 0;
  color: #707070;
  height: 2em;
  left: 0;
  position: relative;
  font-size: small;
  width: 100%;
}
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: white;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  margin-left: 50px;
  color: #d80032;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 1;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #d80032;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: white;
  border: 1px solid #2e2e2e;
  color: #1a1a1a;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #d80032;
  padding: 13px 20px;
  border: 1px solid #d80032;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.subscribe-form ::placeholder {
  color: #1a1a1a;
}
.subscribe-form :placeholder-shown {
  color: #1a1a1a;
}

.copyright-area {
  background: #d80032;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: white;
}
.copyright-text p a {
  color: #1a1a1a;
  margin-left: 20px;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #1a1a1a;
}
.footer-menu li a {
  font-size: 14px;
  color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
